{% extends 'bootstrap/base.html' %}

{% block content %}
    <div style="max-width: 800px;margin-top: 10px" class="center-block container">
        <div>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert">
                        &times;
                    </a>
                    {{ message }}
            </div>
            {% endfor %}

        </div>
        {% block page_content %}

        {% endblock %}
        <div>
            <p class="text-right">{{ moment(current_time).format('LLL') }}</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-cn') }}
{% endblock %}



