{% extends 'base.html' %}

{% block page_content %}
    <div class="page-header">
        <h1>选课详细情况</h1>
    </div>
    <div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>学号</th>
              <th>姓名</th>
              <th>课程</th></tr>
          </thead>
          <tbody>
          {% for student in students %}
            <tr>
                <td>{{ student.number }}</td>
                <td>{{ student.name }}</td>
                {% for c in student.classes.all() %}
                    <td>{{ c.name }}</td>
                {% endfor %}

            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    <div>
        <a href="{{ url_for('admin.down') }}">
            <button type="button" class="btn btn-success">
            下载
        </button>
        </a>

    </div>
{% endblock %}